<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vis Network | Basic usage</title>

    <script
            type="text/javascript"
            src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>

    <style type="text/css">
        #mynetwork {
            width: 1024px;
            height: 768px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
<p>Create a simple network with some nodes and edges.</p>

<div id="mynetwork"></div>
<p id="selection">Selection: 3</p>

<script th:inline="javascript" type="text/javascript">

    // put the Nodes and Edges arraylists in variables
    var nodesList = [[${nodes}]];
    var edgesList = [[${edges}]];
    //console.log("date: "+ nodes[0].label);  //  I  got undefined

    var nodes = new vis.DataSet(nodesList);
    var edges = new vis.DataSet(edgesList);

    // create a network
    var container = document.getElementById("mynetwork");
    var data = {
        nodes: nodes,
        edges: edges
    };

    var options = {
        layout: {
            hierarchical: {
                direction: "UD",
                sortMethod: "directed"
            },
        },
        edges: {
            arrows: "from"
        },
    };
    var network = new vis.Network(container, data, options);

    // add event listeners
    network.on("select", function (params) {
        document.getElementById("selection").innerText =
            "Selection: " + params.nodes;
    });
</script>
</body>
</html>
