<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<head>
    <title>SESAME Security</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-collapse w3-xxlarge w3-animate-left w3-blue" style="width: 250px;"
     id="mySidebar">
    <button onclick="w3_close()" class="w3-bar-item w3-large w3-hide-large">Close &times;</button>
    <a href="#" class="w3-bar-item w3-button "><i class="fa fa-home"> Home</i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-pie-chart" aria-hidden="true"></i> Graphs</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
    <div style="padding-top: 50px"><img class="img-responsive"style="max-width: 240px" src="/images/logo.png" alt="FORTH_Logo" ></div>
</div>

<!-- Page Content -->
<div class="w3-main" style="margin-left:250px">
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xxlarge w3-hide-large" onclick="w3_open()">☰</button>
        <div class="w3-container">
            <img class="img-responsive" style="max-width: 583.871px" src="/images/SESAME_Logo.svg" alt="SESAME_Logo" >
            <h1>Sesame Security Component</h1>
        </div>
    </div>


    <div class="w3-container">
        <h1>Form</h1>
        <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
            <p>Id: <input type="text" th:field="*{id}"/></p>
            <p>Message: <input type="text" th:field="*{content}"/></p>
            <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
        </form>
    </div>
</div>
</body>


<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>


</html>